.container{
      background-color: rgb(237, 237, 237);
      margin-top: 100px;
      width: 800px !important;
}
.row{
      margin: 10px;
}
.col-1{
     margin-left: 0px;
}
.col-2{
     margin-left: 15px;
     width: 400px;
}
.skill{
      width: 280px;
}